[user]
	name = Ulysse Carion
	email = ulysse@ulysse.io
[push]
	default = simple
[core]
	excludesfile = /Users/ulyssecarion/.gitignore_global
[alias]
  s = status
  aa = add --all
  dc = diff --cached
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
